body {
  background-image: url(./pic/rest1.jpg);
  background-size: cover ;
  


}

#button {
  background: transparent;
  border: none;
  margin: 3rem;
  color: aliceblue;

}

/* .nav, .active , a { 
  color: slateblue; 
  border-bottom: 1px solid slateblue;
}

.tab-pane { 
  display: none;
}

.tab-pane.active { 
  display: block; 
} */